.home.component {
  background-color: white;
}

.inputBox {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  align-items: center;
  background-color: white;
}

.form {
  background-color: white;
  align-items: center;
}
