.sidenav {
  background-color: #b0c4de;
  width: 300px;
  margin-top: auto;
}

.sidenav a {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  font-size: medium;
}

.content {
  padding: 200px;
}

.mat-form-field .inputBox {
  height: 1000px;
}
