<mat-sidenav-container class="container">
  <mat-sidenav
    a
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <a mat-list-item>
      <p>Olá, seja bem vindo.</p>
      <p>
        <i>
          Você está em nossa plataforma institucional, onde o login é exclusivo
          para estudantes e professores.
        </i>
      </p>
    </a>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
